package views

templ header() {
	<header class="bg-white">
        <nav class="flex p-6">
                <div class="flex-none w-20 h-14">
                    <div class="flex lg:flex-1">
				<a href="#" class="-m-1.5 p-1.5">
					<span class="sr-only">Your Company</span>
					<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt=""/>
				</a>
			</div>
                </div>
                <div class="grow h-14">
                    <div class="lg:flex lg:gap-x-12">
                <a href="/overview" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
				<a href="/counter" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
				<a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
				<a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
			</div>
                </div>
                <div class="flex-none w-20 h-14">
                   <div class="lg:flex lg:flex-1 lg:justify-end">
				<a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
			</div>
                </div>
        </nav>
	</header>
}
