package views

templ Index(content templ.Component) {
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Counter App</title>
        <link rel="stylesheet" href="/styles/templ.css">
        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    </head>
    <body>
        @header()

        <div id="content" class="p-4 flex justify-center">
            @content
        </div>

    </body>
    </html>
}

templ NotFound() {
	<div>404</div>
}