package views

import "github.com/NickChunglolz/stock-advisor/ochestractor-ams/adapter/client"

templ Overview(stocks []client.StockReply) {
    <table class="table-auto w-9/12">
        <thead>
            <tr>
				<th>Exchange</th>
				<th>Stock Code</th>
				<th>Stock Name</th>
				<th>Current Price</th>
				<th>Opening Price</th>
				<th>Highest Price</th>
				<th>Lowest Price</th>
				<th>Previous Close</th>
				<th>Trading Volume</th>
			</tr>
        </thead>
        <tbody>
            for _, stock := range stocks {
                <tr>
                    <td>{ stock.Exchange }</td>
                    <td>{ stock.StockCode }</td>
                    <td>{ stock.StockName }</td>
                    <td>{ stock.CurrentPrice }</td>
                    <td>{ stock.OpeningPrice }</td>
                    <td>{ stock.HighestPrice }</td>
                    <td>{ stock.LowestPrice }</td>
                    <td>{ stock.PreviousClose }</td>
                    <td>{ stock.TradingVolume }</td>
                </tr>
            }
        </tbody>
    </table>
}
